.box{
    width: 1024px;
    height: 3452px;
}

.h1{
    margin: 23px 25px;
    font-size: 20px;
    font-weight: 700;
}

.image{
    text-align: left;
    width: 975px;
    height: 622px;
    margin: 0px 25px;
}

.subtitle{
    font-family: Open Sans;
    margin: 8px 25px;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
}

.h1_center{
    text-align: center;
    margin: 23px 25px;
    font-size: 20px;
    font-weight: 700;
}

.image_center{
    text-align: center;
    width: 975px;
    height: 622px;
    margin: 0px 25px;
}

.h1_right{
    text-align: right;
    margin: 0px 0px;
    font-size: 20px;
    font-weight: 700;
}
.image2{;
    width: 731px;
    height: 467px;
    margin: 1px 146px;
    box-shadow: 0px 4px 57px bl;
}
.subtitle2{
    text-align: center;
    font-family: Open Sans;
}

.h1_group{
    margin: 23px 25px;
    font-size: 20px;
    font-weight: 700;
}
.image_group{
    width: 975px;
    height: 197px;
    margin: 0px 24px;
}

.image_screenshots{
    text-align: left;
    border: 1px solid #8B9296;
    width: 40%;
    }

.image3{
    text-align: center;
}